@media screen and (max-width: 992px){

    /*Menu*/

    div.menu div.logo{
    width: 60px;
    height: 60px;
    transition: width .6s, height .6s;
    }

    div.logo h1{
        font-size: 2.5em;
        transition: font-size .6s;
    }

    div.menu a{
        font-size: 1.5em;
        margin: 0px 20px;
        transition: margin 0.6s;
    }

    /*Corpo Introdução*/

    section.introducao div.introducao{
        flex: 0 0 80vw;
        transition: flex .6s;
        height: 35vh;
        transition: height .6s;
    }

    div.conteudo h1{
        font-size: 3em;
        width: 200px;
        transition: width .6s, font-size .6s;
    }

    div.conteudo p{
        font-size: .9em;
        transform: translateY(-14px);
        transition: font-size .6s;
    }

    div.introducao img{
        width: 150px;
        height: 150px;
        transition: width .6s, height .6s;
    }

    /*Sobre Mim*/

    section.sobreMim h2{
        font-size: 2.5em;
    }

    section.sobreMim p{
        font-size: .9em;
    }

    div.direita li{
        font-size: .9em;
    }

    /*Projetos*/

    div.titulo h2{
        font-size: 3em;
        flex:  0 0 250px;
        transition: flex .6s, font-size .6s;
    }

    section.projetos div.sites{
        flex: 0 0 270px;
        transition: flex .6s;
    }

    div.sites p{
        font-size: .8em;
    }

    /*Redes Sociais*/

    div.instagram h3, div.wpp h3{
        font-size: 2.5em;
        transition: font-size .6s;
    }

    div.instagram p, div.wpp p{
        font-size: .8em;
        transition: font-size .6s;
    }

    div.instagram a, div.wpp a{
        width: 140px;
        height: 30px;
        transition: width .6s, heigth .6s;
    }

    div.instagram img, div.wpp img{
        height: 25px;
        width: 25px;
        transition: width .6s, heigth .6s;
    }
}

@media screen and (max-width: 768px){
    
    /*Menu*/

    nav#navegacao div.logo{
        display: none;
    }

    div.span{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        cursor: pointer;
        
    }

    div.span div.logo{
        display: flex;
        justify-items: center;
    }

    div.menu nav{
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    div.menu a{
        font-size: 1.6em;
        margin: 0px;
        padding: 5px 0px;
        border-radius: 0px;
        width: 97vw;
    }

    /*Redes Sociais*/

    section.redesSociais div{
        margin: 10px;
        flex: 0 0 200px;
    }
}

@media screen and (max-width: 550px){

    /*Corpo Introdução*/

    section.introducao div.introducao{
        flex: 0 0 90vw;
        height: 40vh;
    }

    div.conteudo h1{
        font-size: 2.5em;
        width: 150px;
    }

    div.conteudo p{
        font-size: .8em;
        transform: translateY(-10px);
    }

    div.introducao img{
        width: 100px;
        height: 100px;
    }

    /*Sobre Mim*/

    section.sobreMim{
        height: 800px;
        flex-flow: column nowrap;
    }

    section.sobreMim div.esquerda{
        margin: 80px 20px;
        width: 300px;
        flex: 1 0 auto;
    }

    /*Redes Sociais*/

    section.redesSociais div{
        flex: 0 0 100px;
        margin: 5px;
    }
    div.instagram h3, div.wpp h3{
        font-size: 2.2em;
    }

    div.instagram p, div.wpp p{
        font-size: .7em;
    }

    div.instagram a, div.wpp a{
        width: 130px;
    }
}