@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: 'Titulos';
    src: url(../fonts/eveagita_luxury/Eveagita\ Luxury\ Demo\ Version.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0: #049DBF;
    --cor1: #8C4F04;
    --cor2: #D99036;
    --cor3: #8C6542;
    --cor4: #0D0D0D;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inria Serif';
    overflow-x: hidden;
    background-color: var(--cor4);
}

/*Menu*/

header{
    background-color: #000d0f95;
    color: var(--cor2);
    font-family: 'Titulos';
    border-bottom: 1px solid var(--cor2);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

div.span {
    display: none;
}

div.menu nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

div.menu div.logo{
    border-radius: 50%;
    border: 3px solid var(--cor2);
    box-shadow: 0px 0px 10px var(--cor2);
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    transition: box-shadow .6s, width .6s, height .6s;
}

div.span div.logo{
    display: none;
}

div.logo h1{
    font-size: 4em;
    text-shadow: 2px 2px 1px black;
    transition: font-size .6s;
}

div.menu a{
    font-size: 1.7em;
    background-color: #010a0c;
    margin: 0px 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--cor2);
    flex: 1 1;
    text-decoration: none;
    color: var(--cor2);
    transition: margin 0.6s;
}

div.menu a:hover{
    background-color: #042229;
    transition: background-color .6s;
}


/*Corpo introdução*/

section.introducao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010a0c;
    box-shadow: inset 0px 0px 5px #b37c1582;
    width: 100vw;
    padding: 100px 0px;
}

section.introducao div.introducao{
    height: 50vh;
    border: 2px solid var(--cor2);
    box-shadow: 0px 0px 10px var(--cor2);
    border-radius: 10px;
    display: flex;
    flex: 0 0 60vw;
    justify-content: space-around;
    align-items: center;
    transition: box-shadow .6s, flex .6s, height .6s;
}

div.conteudo h1{
    font-family: 'Titulos';
    width: 250px;
    font-size: 4em;
    color: var(--cor2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.588);
    margin: 0px;
    margin-top: 10px;
    transition: width .6s, font-size .6s;
}

div.conteudo p{
    color: var(--cor3);
    text-align: right;
    margin: 0px;
    transform: translateY(-15px);
    transition: font-size .6s;
}

div.introducao img{
    border: 2px solid var(--cor2);
    border-radius: 5px 10px 20px 10px;
    box-shadow: 0px 0px 5px var(--cor2);
    width: 200px;
    height: 200px;
    transition: width .6s, height .6s;
}

/*Sobre mim*/

section.sobreMim{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

section.sobreMim div.esquerda{
    background-color: var(--cor3);
    overflow: hidden;
    margin: 10px;
    flex: 0 1 450px;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    box-shadow: 0px 0px 5px #d99036b3;
}

section.sobreMim h2{
    color: var(--cor1);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.521);
    font-family: 'Titulos';
    font-size: 3em;
    text-align: center;
    margin: 0px;
    padding: 2px 0px;
    background-image: linear-gradient(to bottom, #010a0c, #010a0ce8);
}

section.sobreMim div.direita{
    overflow: hidden;
    margin: 10px;
    flex: 0 1 300px;
    border: 1px solid var(--cor1);
    border-radius: 10px;
    background-color: var(--cor3);
    box-shadow: 0px 0px 5px #d99036b3;
}

div.direita ul{
    list-style-type: none;
    padding: 0px;
    margin: 10px;
}

div.direita li{
    margin-bottom: 5px;
}

div.direita li::before{
    content: "✔️";
}

section.sobreMim div.direita h2{
    border-radius: 10px;
}

section.sobreMim p{
    margin: 20px;
    text-indent: 10px;
    text-align: center;
}

/*Indefinido*/

section.indefinido{
    height: 500px;
}

/*Projetos*/

section.projetos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

section.projetos div.titulo{
    flex: 0 0 100vw;
    text-align: center;
    margin: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.titulo h2{
    font-family: "Titulos";
    color: var(--cor1);
    font-size: 3.8em;
    background-image: linear-gradient(to bottom, #010a0c, #010a0ce8);
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.508);
    flex:  0 0 300px;
    border-radius: 10px;
    transition: flex .6s, font-size .6s;
}

section.projetos div.sites{
    flex: 0 0 300px;
    overflow: hidden;
    margin: 10px;
    background-color: var(--cor3);
    border: 1px solid var(--cor1);
    box-shadow: 0px 0px 5px #d99036b3;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    transition: flex .6s;
}

div.sites img{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid var(--cor1);
}

div.sites p{
    margin: 20px 10px;
    text-align: center;
}

div.sites a{
    text-align: center;
    text-decoration: none;
    color: var(--cor2);
    background-image: linear-gradient(to bottom, #010a0c, #010a0ce8);
    border-radius: 10px;
    width: 150px;
    margin-bottom: 10px;
}

div.sites a:hover{
    background-image: linear-gradient(to bottom, #010a0ce8, #010a0cd0);
}

/*Redes Sociais*/

section.redesSociais{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 100px 0px;
}

section.redesSociais div{
    color: white;
    margin: 10px;
    flex: 0 0 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div.instagram h3, div.wpp h3{
    text-align: center;
    font-family: 'Titulos';
    font-size: 3em;
    margin: 0px;
    color: var(--cor1);
    text-shadow: 1px 1px 2px black;
    transition: font-size .6s;
}

div.instagram p, div.wpp p{
    text-align: center;
    margin: 10px;
    transition: font-size .6s;
}

div.instagram a, div.wpp a{
    text-align: center;
    flex: 0 0;
    width: 150px;
    height: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    color: black;

    border-radius: 10px;
    background-image: linear-gradient(to right, var(--cor2), var(--cor1), var(--cor1), var(--cor1));
    transition: width .6s, heigth .6s;
}

section.redesSociais a:hover{
    background-image: linear-gradient(to right, #d99036b9, #8c4f04c3, #8c4f04c3, #8c4f04c3);
}

div.instagram img, div.wpp img{
    margin: 5px;
    height: 30px;
    width: 30px;
    transition: width .6s, heigth .6s;
}